body{
    font-family: 'Outfit', sans-serif;
}

p{
    font-weight: 400;
}

.nav-bg{
    background-color: rgb(255, 255, 255);
}

.nav-font{
    font-weight: 700;
}

.slider-button{
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.section-2{
    margin-top: 30%;
}

.card-3{
    background-color: pink;
    border-radius: 25px;
}

.badge-color{
    background-color: rgb(255, 99, 125);
}

.custom-card{
    border: none;
}

.custom-card-item{
    margin: 0;
    padding: 0;
}

.custom-font-awesome{
    color: rgb(199, 197, 197);
}

.card-button{
    background-color: pink;
    border: none;
    padding: 13px 65px;
    font-size: 15px;
    font-weight: 700;
}

.card-3-button{
    background-color: white;
}

footer{
    background-color: pink;
    height: 200px;
    margin-top: 10%;
}

.footer-image{
    width: 50%;
}

.footer-image2{
    width: 50%;
}

/* media query */

@media only screen and (max-width:688px) {
    .custom-slider{
        height: 50%;
    }
}