body{
    font-family: 'Outfit', sans-serif;
}

p{
    font-weight: 400;
}

.slider-button{
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.custom-card{
    border: none;
}

.custom-card-item{
    margin: 0;
    padding: 0;
}

.custom-font-awesome{
    color: rgb(199, 197, 197);
}

.card-button{
    background-color: rgb(235, 232, 232);
    border: none;
    padding: 13px 65px;
    font-size: 15px;
    font-weight: 700;
}